* > {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


    body{
        background-color: #ccfbf1;
        color: #14b8a6;
    }

    h1, h2, h3{
        color: #115e59;
    }